* {
	font-family: Helvetica;
}

html {
	/*This section is template from Css-Tricks.com*/
	/*background: url(images/background.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*Section ends*/
	background-color: #132440;
}

.header {
	display:inline-block;
	margin:0px auto;
	width:100%;
	margin-top:-5px;
	/*This portion was taken from the school website as refference/template"*/
	height: 40px;
	border-bottom: solid 1px #FFF;
	/*portion ends here*/
}
	
.title {
	color:white;
	font-size:20px;
	padding:15px;
	float:left;
	margin-top:-8px;
}

.htext {
	color:white;
	font-size:20px;
	text-decoration:none;
	padding:15px;
	padding-right:20px;
	float:right;
	margin-top:-6px;
}

.main {
	color:#ffffff;
}

.element{
	color:#ffffff;
	font-size: 100px;
	text-align:center;
	font-weight:100;
	margin-top:80px;
	background-color: #16476A;
	height: 300px
}

.content {
	margin-top:200px;
	padding:10px;
	background-color: #16476A;
	align-items: center;
	justify-content: center;
}

.profile {
	height:200px;
	border-radius:10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 230px;

}
.name {
	text-align:center;
	color:white;
	font-weight: 400;
}

.bio {
	width:40%;
	text-align:center;
	color:white;
	justify-self: center;
}

.contact {
	width:250;
	/*margin-top:50%;*/
}

.contactText {
	text-align: center;
	color: white;
}

.linked {
	height:50px;
	float:center;
	padding:7px;
	width:50px;
}